<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBA-mjzRUCiTKeNU6Q13IFpl9SVcDUSt1M</string>
	<key>GCM_SENDER_ID</key>
	<string>882479887406</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kumasan11251.pivotlog</string>
	<key>PROJECT_ID</key>
	<string>pivot-log</string>
	<key>STORAGE_BUCKET</key>
	<string>pivot-log.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:882479887406:ios:9ed6b96e17a69c96c39bbf</string>
	<key>CLIENT_ID</key>
	<string>882479887406-e4u4v0e8e63lepdlgcc5oqa0jcc7sh7v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.882479887406-e4u4v0e8e63lepdlgcc5oqa0jcc7sh7v</string>
</dict>
</plist>
